<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/app.js' %}"></script>
    <title>OctoProfile</title>
</head>

<body>
    <div class="wrapper">
        <form action="/search" method="post">
            {% csrf_token %}
            <i class="fab fa-github text-primary"></i>
            <h1>Find Your OctoProfile</h1>
            <input name="username" type="text" class="form-control border-0" placeholder="Enter your github username" />
        </form>
    </div>



    <!-- Test -->
    <div class="container">

        <p>
            <select class="filters-select">
                <option selected value=".one">one</option>
                <option value=".two">two</option>
                <option value=".three">three</option>
            </select>
        </p>

        <div class="card-deck text-dark" id="grid">
            <div class="element-item one card">
                <div class="card-body">
                    <h4 class="card-title">1</h4>
                </div>
            </div>
            <div class="element-item one card">
                <div class="card-body">
                    <h4 class="card-title">2</h4>
                </div>
            </div>
            <div class="element-item one card">
                <div class="card-body">
                    <h4 class="card-title">3</h4>
                </div>
            </div>


            <div class="element-item two card">
                <div class="card-body">
                    <h4 class="card-title">4</h4>
                </div>
            </div>

            <div class="element-item two card">
                <div class="card-body">
                    <h4 class="card-title">5</h4>
                </div>
            </div>

            <div class="element-item two card">
                <div class="card-body">
                    <h4 class="card-title">6</h4>
                </div>
            </div>

            <div class="element-item three card">
                <div class="card-body">
                    <h4 class="card-title">7</h4>
                </div>
            </div>

            <div class="element-item three card">
                <div class="card-body">
                    <h4 class="card-title">8</h4>
                </div>
            </div>

            <div class="element-item three card">
                <div class="card-body">
                    <h4 class="card-title">9</h4>
                </div>
            </div>

        </div>
    </div>

    <script>
        // init Isotope
        var $grid = $('#grid').isotope({
            itemSelector: '.element-item',
        });
        // filter functions
        var filterFns = {
            // show if name ends with -ium
            ium: function () {
                var name = $(this).find('.name').text();
                return name.match(/ium$/);
            }
        };
        // bind filter on select change
        $('.filters-select').on('change', function () {
            // get filter value from option value
            var filterValue = this.value;
            // use filterFn if matches value
            filterValue = filterFns[filterValue] || filterValue;
            $grid.isotope({
                filter: filterValue
            });
        });
    </script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>