@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


body {
  font-family: "Inter", sans-serif;
  background-color: #f5f8fa !important;
}

.corner h4 {
  font-size: 20px;
  color: #6a737d;
  font-weight: 400;
}

.corner div {
  font-size: 10px;
  color: #6a737d;
  font-weight: 300;
}

.corner {
  padding: 15px;
  letter-spacing: 1px;
}

.header {
  background-color: #1b1f22;
  color: white;
  height: 50%;
}

.username {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.profile {
  letter-spacing: 1px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid;
  margin-bottom: 10px;
}

ul li {
  margin-top: 10px;
  margin-bottom: 30px;
  list-style: none;
  display: inline-block;
  padding: 15px 30px;
  background-color: #242a2e;
  border-radius: 5px;
}

ul li .main {
  font-size: 24px;
}

ul li .sub {
  font-size: 12px;
  color: rgba(200, 225, 255, 0.7);
}

/* Content */

.card .line {
  border-top: 2px dashed #d1d5d9;
  width: 150px !important;
}

.card .size-line {
  border-top: 2px dashed #d1d5d9;
  width: 120px !important;
}

.card-title {
  margin-bottom: 3px;
}

canvas {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.top-repo {
  margin-top: 30px;
  margin-left: 10px;
}

.top-repo label {
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  margin-left: 6%;
}

.top-repo span {
  font-size: 16px;
  color: #6a737d;
  font-weight: 400;
}

.top-repo select {
  width: 100px;
  display: inline-block;
  background-color: #f5f8fa !important;
  border: 1px solid #cce0fb;
}

.top-repo h4 {
  font-family: "Space Mono", monospace;
}

.repos .card {
  padding: 15px;
  min-height: 160px;
  display: inline-block;
  width: 500px;
  margin: 20px;
}

.repos .card-title span {
  font-size: 14px;
}

.repos .repo-info h4 {
  font-size: 18px;
}


.repos a {
  text-decoration: none;
}

.repos p {
  font-weight: 400;
  font-size: 13px;

  color: #6a737d;
}

/* Footer */
.footer {
  margin: 50px auto;
}

.footer p {
  font-size: 14px;
  color: #6a737d;
}

.footer a {
  font-size: 12px;
  color: #0070f3;
}

/* iPhone */
@media (max-width: 375px) {
  body {
    font-family: "Inter", sans-serif;
    background-color: #f5f8fa !important;
  }

  .corner h4 {
    font-size: 20px;
    color: #6a737d;
    font-weight: 400;
  }

  .corner div {
    font-size: 10px;
    color: #6a737d;
    font-weight: 300;
  }

  .corner {
    padding: 15px;
    letter-spacing: 1px;
  }

  .header {
    background-color: #1b1f22;
    color: white;
    height: 50%;
  }

  .username {
    font-family: "Space Mono", monospace;
    font-size: 24px;
  }

  .profile {
    letter-spacing: 1px;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid;
    margin-bottom: 10px;
  }

  ul li {
    margin-top: 10px;
    margin-bottom: 30px;
    list-style: none;
    display: inline-block;
    padding: 15px 30px;
    background-color: #242a2e;
    border-radius: 5px;
  }

  ul li .main {
    font-size: 24px;
  }

  ul li .sub {
    font-size: 12px;
    color: rgba(200, 225, 255, 0.7);
  }

  /* Content */

  .content {
    width: 80% !important;
    margin: 0 auto;
  }

  .card .line {
    border-top: 2px dashed #d1d5d9;
    width: 150px !important;
  }

  .card .size-line {
    border-top: 2px dashed #d1d5d9;
    width: 120px !important;
  }

  .card-title {
    margin-bottom: 3px;
  }

  canvas {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .top-repo {
    margin-top: 30px;
    margin-left: 10px;
  }

  .top-repo label {
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    width: 200px;
    margin-left: 6%;
  }

  .top-repo span {
    font-size: 16px;
    color: #6a737d;
    font-weight: 400;
  }

  .top-repo select {
    width: 100px;
    display: inline-block;
    background-color: #f5f8fa !important;
    border: 1px solid #cce0fb;
  }

  .top-repo h4 {
    font-family: "Space Mono", monospace;
  }

  .repos .card {
    padding: 15px;
    min-height: 160px;
    display: inline-block;
    width: 300px;
    margin: 20px;
  }

  .repos .card-title span {
    font-size: 14px;
  }

  .repos .repo-info h4 {
    font-size: 18px;
  }


  .repos a {
    text-decoration: none;
  }

  .repos p {
    font-weight: 400;
    font-size: 13px;

    color: #6a737d;
  }

  /* Footer */
  .footer {
    margin: 50px auto;
  }

  .footer p {
    font-size: 14px;
    color: #6a737d;
  }

  .footer a {
    font-size: 12px;
    color: #0070f3;
  }
}